body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}

.container {
    width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
border-bottom: 1px solid #e7e9fc
}
.nav-menu {
    display: flex;
    align-items: center;


}
.navigation {
    display: flex;
    gap: 40px;
    
}
.contacts .list {
    display: flex;
    gap: 40px;
}


.navigation, 
.contacts, 
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: #2E2F42;
    display: block;
}
.logo {
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        margin-right: 76px;
}
.header .logo {
    padding-top: 24px;
    padding-bottom: 24px;
}
header .logo-text {
    color: #2E2F42;
}
.navigation .link:hover {
color: #404BBF;
}
.navigation .link {
    color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
padding-top: 24px;
padding-bottom: 24px;
}
.navigation .link:active {
    color: #404BBF;
}
.navigation .link:focus {
    color: #404BBF;
}
.contacts {
    font-style: normal;
}
.contacts .link {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.contacts .link:hover {
    color: #404BBF;
}
.contacts .link:focus {
    color: #404BBF;
}

.button-section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2E2F42;
}
.button-section-title {
    color: #FFF;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin-bottom: 48px;
  
}
.button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}

.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about .list {
    display: flex;
    gap: 24px;
}
.about .list-item {
width: calc((100% - 72px) / 4);
}
.about .list-title {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.about .list-text {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.team-section {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}
.team-section-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.team-member {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
width: calc((100% - 72px) / 4);
    }
.team-member .name {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-section .list {
    display: flex;
    gap: 24px;
}
.team-member .list-title {
    color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        margin-bottom: 8px;
}
.team-member .list-text {
    color: #434455;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.portfolio-list {
padding-top: 120px;
padding-bottom: 120px;
}
.portfolio-list-title {
color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list .list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-list .name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list .list-title {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        margin-bottom: 8px;
}
.portfolio-list .list-text {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.footer {
    padding-bottom: 100px;
    padding-top: 100px;
        background-color: #2E2F42;
}
.footer .logo {
display: inline-block;
margin-bottom: 16px; 
margin-right: 0;
}
footer .logo-text {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        width: 264px;
}
